:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.table-layout {
  display: grid;
  grid-template:
    "r c" 24px
    "r t" min-content
    / min-content min-content;
  align-items: start;
}

.table-layout-row-labels {
  grid-area: r;
}

.table-layout-column-labels {
  grid-area: c;
}

.table-layout-table {
  grid-area: t;
}
