:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  overscroll-behavior-y: none;
  overscroll-behavior-x: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.table-layout {
  display: grid;
  grid-template:
    "bar bar" min-content
    "row col" 24px
    "row tab" min-content
    / min-content 1fr;
  align-items: start;
}

.table-layout-code-bar {
  grid-area: bar;
}

.table-layout-row-labels {
  grid-area: row;
}

.table-layout-column-labels {
  grid-area: col;
}

.table-layout-table {
  grid-area: tab;
}
